<!Doctype html>
<html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<!--<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">-->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>


<header>
    <!-- Latest compiled and minified CSS 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>-->

    <!-- Latest compiled JavaScript -->
    <ul id='dropdown_template' class='dropdown-content'>
      <li><a href="/templates/create">Create</a></li>
      <li><a href="/templates/vet">View</a></li>
    </ul>
    <ul id='dropdown_help' class='dropdown-content'>
      <li><a href="#">Discussions</a></li>
      <li><a href="#">FAQ</a></li>
      <li><a href="#">Raise a Case</a></li>
    </ul>
    <div class="container">
    <nav class="cyan"> 
        <!-- Links -->
      <div class="nav-wrapper">
        <ul class="left hide-on-med-and-down">
          <li>
            <a href='/home'>Home</a>
          </li>
          <li>
            <a href=#>Highlights</a>
          </li>
          <li>
            <a href="#">Violations</a>
          </li>
          <li>
            <a href="/extra">extra</a>
          </li>
          <li>
            <a class='dropdown-trigger' data-activates='dropdown_template' data-constrainWidth="false" style="width:max-content;height:auto;">Templates</a>
          </li>
          <li>
            <a href="#">Settings</a>
          </li>
          <li>
            <a class='dropdown-trigger'data-activates='dropdown_help' data-constrainWidth="false" style="width:max-content;height:auto;">Help</a>
          </li>
          <li>
            <a href="/User/login">Login</a>
          </li>
        </ul>
      </div>
      </nav>
      {% block header %}{% endblock %}
    </div>
  </header>

<body style = "background-color: black">
  <div class="container">
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}

  {% block content %}
  {% endblock %}
  </div>
</body>

<script>
  function enable_button(){
    var temp_status = document.getElementById("template").value;
    var cust_status = document.getElementById("customer").value;
    if(temp_status!="" && cust_status!=""){
      document.getElementById("launch_btn").disabled = false;
    }
  }

  function enable_template(){
    
    var ajax_request = new XMLHttpRequest()
    ajax_request.onreadystatechange = function(){
      if(this.status==200 && this.readyState==4){
        var temp = JSON.parse(this.response)["templates"]
        console.log(temp)
        var thtml = ""
        for(i=0;i<temp.length;i++){
          thtml += "option value=\"" + temp[i] + "\">" + temp[i] + "</option>"
        }
        console.log(thtml)
        document.getElementById("template").innerHTML = thtml
      }
    }
    ajax_request.open("GET", "/ajax_reqs/select_template?customer=" + document.getElementById("customer").value, true)
    ajax_request.send()
  }

  function validate_file_ext(){
    var file_ext = document.getElementById("file_ext").value.split(".").pop().toLowerCase();
    if(file_ext=="zip"){
      document.getElementById("submit_btn").disabled=false;
    }
  }
</script>
<script>
  $(document).ready(function(){
    $('.dropdown-trigger').dropdown({
      constrain_width: false,
      hover: true
    });
    $('.modal').modal();
    $('select').material_select();
  })
</script>
</html>