<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark"> 
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href='/home'>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=#>Highlights</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Violations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/extra">extra</a>
      </li>
      <li class="nav-item">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Templates
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/templates/create">Create</a>
              <a class="dropdown-item" href="/templates/vet">View/edit</a>
            </div>
          </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Settings</a>
      </li>
      <li class="nav-item">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Help?
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Discussions</a>
              <a class="dropdown-item" href="#">FAQ</a>
              <a class="dropdown-item" href="#">Raise a case?</a>
            </div>
          </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/User/login">Login</a>
      </li>
    </ul>
  </nav>
  <section class="content">
    <header>
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  
      <!-- jQuery library -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  
      <!-- Popper JS -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  
      <!-- Latest compiled JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
      {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}

    {% block content %}
    {% endblock %}
  </section>