{% extends 'base.html' %}

{% block header %}
<div class="cyan-text">
  <h4>Create a job</h4>
</div>
{% endblock %}

{% block content %}
<br><br>
<div class="white-text">
  <form method="post" action='#' enctype = "multipart/form-data">
      <div class="input-field col s12">
        <select name="customer" required=true placeholder="Select Customer">
          <option value="" disabled=true selected=true>Select Customer</option>
          {% for cust in customers %}
            <option value={{cust}}>{{cust}}</option>
          {% endfor %}
        </select>
        <label>Customer</label>
      </div>
      <br>
      <div class="input-field col s12">
        <select type="text" name="template" required=true placeholder="Select Template">
          <option value="" disabled=true selected=true>Select Template</option>
          {% for template in templates %}
            <option value={{template}}>{{template}}</option>
          {% endfor %}
        </select>
        <label>Template</label>
      </div>
      <br>
      <button data-target="modal1" class="btn modal-trigger">Launch</button>
      <div class="container">
        <div class="black-text">
          <div id="modal1" class="modal modal-fixed-footer" style="display:none;">
            <div class="modal-content">
                <div class="file-field input-field">
                  <div class="btn">
                    <span>Select File</span>
                    <input type="file" name='file'>
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Browse a File">
                  </div>
                <div class="progress">
                  <progress id="progress_bar" min="1" max="100"></progress>
                  <div class="determinate" style="width: 70%">
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input id="email" type="email" class="validate">
                    <label for="email">Email</label>
                    <span class="helper-text" data-error="wrong" data-success="right">Enter the email Address of the stakeholders to be notified</span>
                  </div>
                </div>
                </div>
              </div>
            <div class="modal-footer">
              <button class="modal-action modal-close waves-effect waves-green btn-flat" type="submit">Submit</button>
            </div>
        </div>
        </div>
        
      </div>
  </form>
</div>
{% endblock %}