{% extends 'base.html' %}

{% block header %}
<div class="cyan-text">
  <h4>{% block title %}Create a template{% endblock %}</h4>
</div>
{% endblock %}

{% block content %}
<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input placeholder="Enter Customer Name" name="customer" id="customer" type="text" required style="color: white;">
        <label for="customer">Customer Name</label>
      </div>
      </div>
      <div class="row">
      <div class="input-field col s6">
        <input placeholder="Enter Template Name" name="template" id="template" type="text" required style="color: white;">
        <label for="customer">Template Name</label>
      </div>
      </div>
      <div class="row">
      <div class="input-field col s6">
        <input placeholder="Enter Description" name="desc" id="desc" type="text" required style="color: white;">
        <label for="desc">Description</label>
    </div>
    </div>
  <input type="submit" class="btn btn-secondary btn-sm" value="Create">
  </form>
</div>
{% endblock %}