{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Create a template{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">


    <div class='container'>
      <div class="form-group">
        <label for="inputsm">Customer Name:</label>
        <input class="form-control input-sm" id="customer" name='customer' type="text" required=true>
      </div>

      <div class="form-group">
        <label for="inputsm">Template_name:</label>
        <input class="form-control input-sm" id="template" name='template' type="text" required=true>
      </div>
      <div class="form-group">
        <label for="inputsm">Description</label>
        <input class="form-control input-sm" id="Description" name='description' type="text" required=true>
      </div>
      <input type="submit" class="btn btn-secondary btn-sm" value="Create">
    </div>
  </form>
{% endblock %}